ody {
  margin: 0;
}

body, button, input {
  font-family: inter;
}

* {
  box-sizing: border-box;
  transition: 0.4s ease all;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


h2 {
  font-weight: 500;
}

ul {
  padding: 0;
  margin: 0;
}

.navbar {
  background: #0D1117;
  color: #d4d4d4;
  padding: 15px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  top: 0px;
}

.navbar .tobias {
  cursor: pointer;
  font-family: inter;
  margin-left: 20px;

}

.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
  color: #0D1117;
}
.navbar ul.links li {
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
color: #d4d4d4;
font-weight: 400;}
.navbar ul.links li:hover {
  cursor: pointer;
  color: darkslateblue;
}
.navbar ul.links li:hover a {
  color: darkslateblue;
}
#active {
  color: darkslateblue;
}




.navbar.sticky {
  position: fixed;
  z-index: 40;
}
.navbar.sticky ~ main {
  position: relative;
  z-index: 20;
  top: 65px;
}

section {
  background: #000;
  color: #0D1117;
  padding: 20px;
  font-family: inter;
  font-weight: 400;
  letter-spacing: 0.5px;

}


.killmilord:hover {
  content: url("killmilord.png");
  transform: scale(1.1);
}

body:hover img:not(:hover) {
  filter: blur(0.4px);
}

.crackfest:hover {
  content: url("crackfest.png");
  transform: scale(1.1);
  border-color: white;
}


.painprism:hover {
  content: url("painprism.png");
  transform: scale(1.1);
  border-color: darkred;
}





@media screen and (max-width: 750px) {
  .navbar .right {
    height: 0;
    overflow: hidden;
  }

  .toggle {
    position: absolute;
    top: 32.5px;
    right: 20px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle > * {
    width: 50%;
    height: 1px;
    background: #d4d4d4;
    margin: 3px 0;
  }



  .navbar.collapsed .toggle .linea1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .navbar.collapsed .toggle .linea2 {
    opacity: 0;
  }
  .navbar.collapsed .toggle .linea3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar.collapsed .tobias {
    position: relative;
    z-index: 44;

  }


  .navbar .links {
    position: fixed;
    background: #0D1117;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
  }
  .navbar .links li:first-child {
    margin-top: 80px;
  }

  .navbar.collapsed .links {
    left: 0;
     background-color: #0D1117;
  }
  .navbar.collapsed .links a {
    color: #d4d4d4;
     background-color: #0D1117;
  }
  .navbar.collapsed .links li {
    width: 100%;
     background-color: #0D1117;
  }
  .navbar.collapsed .links li:hover a {
    color: darkslateblue;

  }

  .navbar.collapsed .right {
    position: fixed;
    width: 45vw;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    transform: translateX(-50%);
    z-index: 45;

  }

  .navbar.collapsed ~ main {
    filter: blur(1px);
    opacity: 0.9;
  }

  .navbar.sticky {
    position: fixed;
    z-index: 40;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: #0D1117;
  color: #777;
  font-family: inter;
  font-size: .875em;
}

main{
  margin: auto;
  max-width: 360px;

}
.section{
  background: #0D1117;
  border-radius: .25em;
  margin: 1em;
  overflow: hidden;
  border-radius: 10px;
}
figure{
  height: 14.5em;
  width: 20em;
}
article{
  padding: 0.5em;
}

img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  border: solid;
  border-color: darkslateblue;
  border-width: thin;
  border-radius: 10px;
}

h1{
  font-size: 1.4em;
  line-height: 1.5;
  margin: .25em 0;
  color: #d4d4d4;
  font-weight: 500;
}

span{
  color: darkslateblue;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.desarrollo {
  font-weight: 700;
}

.project-date {
  letter-spacing: 4px;
}

@supports (display: grid){
  @media only screen and (min-width: 768px){
    main{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 1.5em;
      max-width: 1140px;
      padding: 1.5em;
    }

    section{
      margin: 0;
    }
  }
}


.navbar #active {
  cursor: pointer;
  font-family: inter;
  
}

a {
  text-decoration: none;
}

@media (min-width:961px)  { 

.navbar .tobias {
  cursor: pointer;
  font-family: inter;
  margin-left: 10em;
}



/* tablet, landscape iPad, lo-res laptops ands desktops */ }



@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}



img {
  vertical-align: bottom; margin-right: 10px; 
  width:102px; height:130px;
  border-radius: 100%;
  border-width: thick;
  border-color: #d4d4d4;
}

p {
  margin-left: 2em;
  margin-right: 2em;
}


h1, ul, li {
 color: #d4d4d4;

}

.skills {
  font-size: 1.3em;
  
}


.icon {
 color: #d4d4d4;
  font-size: 1.6em;
  width: 20px;

}

.skill-set {
  line-height: 37px;
}
.two-column-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 15px;
  list-style: none;
  width: 26em;
  line-height: 2em;

}

.list-skills-tools {
  color: grey;
}

.list-skills-tools:hover {
  color: darkslateblue;
}

.title-list {
  font-weight: 800;
  color: #d4d4d4;
}

.pic {
  width: 130px;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
}

i {
     font-size:1.7em !important;
     text-align: center;
}

i:hover {
  color: grey;
}


